<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atención al cliente</title>
</head>
<body>
<h1>Atención al cliente</h1>
<h2>FAQ:</h2>
<ul>
    <li>&iquest;C&oacute;mo puedo ver mi pedido?
        <ul>
            <li>En el apartado "Historial de pedidos" del perfil del usuario se pueden ver todos los pedidos realizados
                y los estados de cada uno de ellos.</li>
        </ul>
    </li>
    <li>&iquest;C&oacute;mo puedo contactar con atenci&oacute;n al cliente?
        <ul>
            <li>En el apartado "Atenci&oacute;n al cliente" de la pantalla de inicio se puede ver tanto el correo como
                el n&uacute;mero de atenci&oacute;n al cliente para consultar dudas concretas sobre los pedidos realizados.</li>
        </ul>
    </li>
    <li>&iquest;Se pueden cambiar los datos de contacto o la direcci&oacute;n en caso de mudarme a otro domicilio?
        <ul>
            <li>Desde el perfil del usuario se pueden modificar todos los datos introducidos sobre éste (método de pago,
                dirección, nombre...)</li>
        </ul>
    </li>
</ul>
<a class="enlace" href="http://localhost:8080/contacto">Contacto</a>
<a class="enlace" href="http://localhost:8080/centros">Centros físicos</a>
</body>
</html>