<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compra</title>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">
<h1>Carrito</h1>
<table style="border-collapse: collapse; width: 80.9659%; height: 93px;" border="1">
    <tbody>
    <tr>
        <td style="width: 33.3333%; text-align: center;">Productos</td>
        <td style="width: 33.3333%; text-align: center;">Precios</td>
        <td style="width: 33.3333%; text-align: center;">Cantidad</td>
    </tr>
    <tr>
        <td style="width: 33.3333%; text-align: center;">{{#productos}}<li>{{productos}}<li>{{/productos}}</td>
        <td style="width: 33.3333%; text-align: center;">{{#precios}}<li>{{precios}}<li>{{/precios}}</td>
        <td style="width: 33.3333%; text-align: center;">{{#cantidades}}{{/cantidades}}</td>
    </tr>
    </tbody>
</table>
<h2>{{#productos}}{{/productos}}</h2>
<p><strong>Precio total: <span style="color: #ffffff; font-size: larger">suma&euro;</span></strong></p>
<p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>
</body>
</html>