<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carrito</title>
</head>
<body>
<h1>Carrito</h1>
<table style="border-collapse: collapse; width: 82.6705%; height: 82px;" border="1">
  <tbody>
  <tr>
    <td style="width: 33.3333%;"><strong>Productos </strong></td>
    <td style="width: 33.3333%;"><strong>Cantidad</strong></td>
    <td style="width: 33.3333%;"><strong>Precio por unidad</strong></td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">{{producto1}}</td>
    <td style="width: 33.3333%;">{{cantidad1}}</td>
    <td style="width: 33.3333%;">{{precio1}}</td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">{{producto2}}</td>
    <td style="width: 33.3333%;">{{cantidad2}}</td>
    <td style="width: 33.3333%;">{{precio2}}</td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">{{producto3}}</td>
    <td style="width: 33.3333%;">{{cantidad3}}</td>
    <td style="width: 33.3333%;">{{precio3}}</td>
  </tr>
  </tbody>
</table>
<p><strong>Precio total: <span style="color: #ff0000;">{{suma}}</span></strong></p>
<p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>
</body>
</html>