<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
<h1>Carrito</h1>
<table style="border-collapse: collapse; width: 82.6705%; height: 82px;" border="1">
  <tbody>
  <tr>
    <td style="width: 33.3333%;"><strong>Productos </strong></td>
    <td style="width: 33.3333%;"><strong>Cantidad</strong></td>
    <td style="width: 33.3333%;"><strong>Precio por unidad</strong></td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">Filete de pollo&nbsp;</td>
    <td style="width: 33.3333%;">3 paquetes</td>
    <td style="width: 33.3333%;">8,99 &euro;/paquete</td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">Arroz</td>
    <td style="width: 33.3333%;">2 kg</td>
    <td style="width: 33.3333%;">1,5 &euro;/kg</td>
  </tr>
  <tr>
    <td style="width: 33.3333%;">Tomates</td>
    <td style="width: 33.3333%;">2 kg</td>
    <td style="width: 33.3333%;">3,89 &euro;/kg</td>
  </tr>
  </tbody>
</table>
<p><strong>Precio total: <span style="color: #ff0000;">37,75 €</span></strong></p>
</body>
</html>