<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compra</title>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">
<h1>Carrito</h1>
<!--<h2>id</h2>-->
<table style="border-collapse: collapse; width: 82.6705%; height: 82px;" border="1.5"; align="center";>
  <tbody>
  <tr>
    <td style="width: 33.3333%;"><strong>Productos </strong></td>
    <td style="width: 33.3333%;"><strong>Cantidad</strong></td>
    <td style="width: 33.3333%;"><strong>Precio por unidad</strong></td>
  </tr>
  <tr>
    <td style="width: 33.3333%; text-align: center;"><strong>{{#productos}}<ul>{{.}}</ul>{{/productos}}</strong></td>
    <td style="width: 33.3333%; text-align: center;"><strong>{{#cantidad}}<ul>{{.}}</ul>{{/cantidad}}</strong></td>
    <td style="width: 33.3333%; text-align: center;"><strong>{{#precios}}<ul>{{.}}</ul>{{/precios}}</strong></td>
  </tr>

  <tr>
<!--    <td style="width: 33.3333%;">producto</td>-->
  </tbody>
</table>
<p><strong>Precio total: <span style="color: #ffffff; font-size: larger">{{precioTotal}}&euro;</span></strong></p>
<p style="text-align: center;"><button name="buy"><a href="/addSeguimiento?comprado=PEDIDO REALIZADO">COMPRAR</a></button></p>

<h1>{{comprado}}</h1>

<p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>

</body>
</html>