<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{categoria}}</title>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">
<h1>{{categoria}}:</h1>
{{#productos}}
<div class="producto">
    <ul><a title="{{id}}" href="/producto/{{id}}"><img src="{{imagen}}" width="400" height="350"/></a></h3></ul>
    <ul>{{name}}</ul>
    <ul>{{precio}}&euro;</ul>
    <p></p>
</div>
{{/productos}}
    <button name="home"><a href="/">Inicio</a></button>
</p>

</body>
</html>