<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centros Físicos</title>

    <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>SUPERMERCASA</strong></span></h1>
    </head>
<body style="background-color:rgb(39, 69, 42);">
<h1 style="text-align: center;"><span style="color: #ffffff;">Nos puedes encontrar en los siguientes centros</span></h1>
<p style="text-align: center;"><span style="color: #ffffff;">Pirámides
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Leganés
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Móstoles</span></p>
<p style="text-align: center;"><span style="color: #ffffff;"><img src="https://cdn.pixabay.com/photo/2012/09/26/17/34/supermarket-58048_960_720.jpg" alt="" width="400" height="300" /></span>
    <span style="color: #ffffff;"><img src="https://cdn.pixabay.com/photo/2012/09/26/17/34/supermarket-58048_960_720.jpg" alt="" width="400" height="300" /></span>
    <span style="color: #ffffff;"><img src="https://cdn.pixabay.com/photo/2012/09/26/17/34/supermarket-58048_960_720.jpg" alt="" width="400" height="300" /></span></p>
<p style="text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1519.1873780937976!2d-3.713519669650236!3d40.400548051372155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227cf9a8f8ce5%3A0x5348953aef3a70bf!2sMercadona!5e0!3m2!1ses!2ses!4v1676372744717!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.465947195962!2d-3.7405944067778014!3d40.33200861361308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227530fbec107%3A0x7ac156c823612473!2sMercadona!5e0!3m2!1ses!2ses!4v1676372777847!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.4712173232806!2d-3.85882734905697!3d40.33189167927388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e84a09cdc57%3A0x5b560a343c0f3bd1!2sMercadona!5e0!3m2!1ses!2ses!4v1676372800297!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

</body>
</html>