<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <h1>Opciones de Contacto</h1>
    <p>Teléfono de Contacto: 91231923123</p>
    <p>WhatsApp: 69284512562</p>
    <p>Correo Electrónico: contacto@supermercasa.com </p>
    <p>Horario de contacto telefónico: L/V 9:00-17:00</p>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">
<p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>
</body>
</html>