<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial de Pedidos</title>
    <h1> {{name}} , estos son tus pedidos</h1>
    <p>{{pedido1}}</p>
    <p>{{fecha1}}; {{precio1}}</p>
    <p>{{listadoproductos1}}</p>
    <p>{{pedido2}}</p>
    <p>{{fecha2}}; {{precio2}}</p>
    <p>{{listadoproductos2}}</p>
    <p>{{pedido3}}</p>
    <p>{{fecha3}}; {{precio3}}</p>
    <p>{{listadoproductos3}}</p>
    <p>{{pedido4}}</p>
    <p>{{fecha4}}; {{precio4}}</p>
    <p>{{listadoproductos4}}</p>
</head>
<body>

</body>
</html>