<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>SUPERMERCASA</strong></span></h1>

</head>
<body style="background-color:rgb(39, 69, 42);">
<p style="text-align: center;"><span style="color: #ffffff;"><em>El supermercado en casa</em></span></p>
<p style="text-align: center;">
    <button name="centros"><a href="/centros">Centros físicos</a></button>
    <button name="faq"><a href="/atencionalcliente">FAQ</a></button>
    <button name="contact"><a href="/contacto">Contacto</a></button>
    <button name="login"><a href="/registroLogin">Login</a></button>
    <button name="user"><a href="/perfilusuario">Mi Perfil</a></button>
<!--    <button name="seguimiento"><a href="/seguimientoPedido/">Seguimiento de Pedidos</a></button>-->
    <button name="historial"><a href="/historial">Historial de Pedidos</a></button>
    <button name="carrito"><a href="/carrito?comprado=">Carrito de Compra</a></button>
    <button name="gestionProd"><a href="/administrarProductos">Gestion de Productos</a></button>
</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2017/08/09/09/50/shopping-2613984_960_720.jpg" alt="" width="600" height="400" /></p>
<p style="text-align: center;"><span style="color: #ffffff;">Visita nuestros centros para obtener los mejores productos a los mejores precios.</span></p>
<p style="text-align: center;">
    <button name="offers"><a href="/ofertas">Ofertas</a></button>
    <button name="pan"><a href="/categoria?cat=Panaderia y reposteria">Panadería y Repostería</a></button>
    <button name="carnes"><a href="/categoria?cat=Carnes y pescados">Carnes y Pescados</a></button>
    <button name="frutas"><a href="/categoria?cat=Frutas y verduras">Frutas y Verduras</a></button>
    <button name="bebida"><a href="/categoria?cat=Bebidas">Bebidas</a></button>
    <button name="limpieza"><a href="/categoria?cat=Productos de limpieza">Limpieza</a></button>
    <button name="congelados"><a href="/categoria?cat=Congelados">Congelados</a></button></p>
</body>
</html>

