<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>SUPERMERCASA</strong></span></h1>

</head>
<body style="background-color:rgb(39, 69, 42);">
<p style="text-align: center;"><span style="color: #ffffff;"><em>El supermercado en casa</em></span></p>
<p style="text-align: center;">
    <button name="centros"><a href="/centros">Centros físicos</a></button>
    <button name="faq"><a href="/atencionalcliente">FAQ</a></button>
    <button name="contact"><a href="/contacto">Contacto</a></button>
    <button name="login"><a href="/registroLogin">Login</a></button>
    <button name="user"><a href="/perfilusuario">Mi Perfil</a></button>
    <button name="seguimiento"><a href="/seguimiento">Seguimiento de Pedidos</a></button>
    <button name="historial"><a href="/historial">Historial de Pedidos</a></button>
    <button name="carrito"><a href="/carrito?comprado=">Carrito de Compra</a></button>
</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2017/08/09/09/50/shopping-2613984_960_720.jpg" alt="" width="600" height="400" /></p>
<p style="text-align: center;"><span style="color: #ffffff;">Visita nuestros centros para obtener los mejores productos a los mejores precios.</span></p>
<p style="text-align: center;">
    <button name="offers"><a href="/ofertas">Ofertas</a></button>
    <button name="pan"><a href="/categoria?cat=Panaderia y Reposteria&id1=4&id2=5&id3=6&id4=7">Panadería y Repostería</a></button>
    <button name="carnes"><a href="/categoria?cat=Carnes y Pescados&id1=8&id2=9&id3=10&id4=11">Carnes y Pescados</a></button>
    <button name="frutas"><a href="/categoria?cat=Frutas y Verduras&id1=12&id2=13&id3=14&id4=15">Frutas y Verduras</a></button>
    <button name="bebida"><a href="/categoria?cat=Bebidas&id1=16&id2=17&id3=18&id4=19">Bebidas</a></button>
    <button name="limpieza"><a href="/categoria?cat=Productos de Limpieza&id1=20&id2=21&id3=22&id4=23">Limpieza</a></button>
    <button name="congelados"><a href="/categoria?cat=Congelados&id1=24&id2=25&id3=26&id4=27">Congelados</a></button></p>
</body>
</html>

