<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ofertas semanales</title>
</head>
<body>
    <h1 style="text-align: center;">&iexcl;&iexcl;OFERTAS SEMANALES!!</h1>
    <p style="text-align: center;"><b>En esta secci&oacute;n podr&aacute;s encontrar los mejores precios para tus productos favoritos</b></p>
    <hr />
    <h3 style="padding-left: 120px;"><a href="localhost:8080/ofertas/producto?tipo=Carne+de+Res&amp;Precio=12.99€"><img style="float: left;" src="/images/imgCarneOFERTA.jpg" alt="" width="400" height="400" /></a></h3>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 120px;">&nbsp;</h2>
    <h2 style="padding-left: 240px;"><strong><em>CARNE DE RES&nbsp;</em></strong></h2>
    <h2 style="padding-left: 240px;"><span style="color: #ff0000;"><em>&nbsp;15&euro;</em></span><strong><span style="color: #ff0000;">&nbsp;<span style="color: #000000;">-&gt; <span style="color: #99cc00;">12.99&euro;</span></span></span></strong></h2>
    <p>&nbsp;</p>
    <h3 style="padding-left: 120px;"><img style="float: left;" src="/images/imgPlatanosOFERTA.jpg" alt="" width="400" height="400" /></h3>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 style="padding-left: 160px;"><strong><em>&nbsp; PLATANOS DE CANARIAS</em></strong></h2>
    <h2 style="padding-left: 200px;"><span style="color: #ff0000;"><em>&nbsp; &nbsp; &nbsp;5.99&euro;</em></span><strong><span style="color: #ff0000;">&nbsp;<span style="color: #000000;">-&gt; <span style="color: #99cc00;">4.5&euro;</span></span></span></strong></h2>
    <p>&nbsp;</p>
    <h3 style="padding-left: 120px;"><img style="float: left;" src="/images/imgDetergenteOFERTA.jpg" alt="" width="400" height="400" /></h3>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 style="padding-left: 160px;"><strong><em>DETERGENTE AROMAFLOR</em></strong></h2>
    <h2 style="padding-left: 200px;"><span style="color: #ff0000;"><em>&nbsp; &nbsp; &nbsp;8&euro;</em></span><strong><span style="color: #ff0000;">&nbsp;<span style="color: #000000;">-&gt; <span style="color: #99cc00;">6.99&euro;</span></span></span></strong></h2>
</body>
</html>