<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PerfilUsuario</title>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center;">
<h1><span style="color: white;">Perfil del usuario {{name}}</span></h1>
<p><span style="color: white;">Nombre: {{name}}</span></p>
<p><span style="color: white;">Apellido(s): {{surname}}</span></p>
<p><span style="color: white;">Email: {{email}}</span></p>
<p><span style="color: white;">Dirección: {{direction}}</span></p>
<p style="text-align: center;"><span style="color: white;"><button name="home"><a href="/">Inicio</a></button></span></p>
</body>
</html>