<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>

<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">

    <h1 style="text-align: center;"><strong>{{nombre}}</strong><strong></strong></h1>
    <hr />
    <h1 style="text-align: center;"><img src="{{imagen}}" width="400" height="350" alt="" /></h1>
    <h2 style="text-align: center;"><strong>{{precio}}&euro; </strong></h2>
    <p style="text-align: center;">{{descripcion}}</p>
    <p style="text-align: center;"><button id="restar">-</button> <strong><span id="numero">1</span></strong> <button id="sumar" type="button">+</button></p>
    <!--<button id="restar">-</button>
    <p><span id="numero">0</span></p>
    <button id="sumar">+</button>-->

    <p style="text-align: center;"><button id="carrito" name="home"><!--<a href="/addProducto/{{id}}">Añadir al carrito</a> -->Añadir al carrito</button></p></form>
    <p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>

    <script>
        let numero = 1;
        const numSpan = document.getElementById("numero");

        document.getElementById("sumar").addEventListener("click", function() {
            numero++;
            numSpan.textContent = numero;
        });

        document.getElementById("restar").addEventListener("click", function() {
            if(numero > 1){
                numero--;
                numSpan.textContent = numero;
            }
        });
        var pag = "";
        document.getElementById("carrito").addEventListener("click", function() {
            pag = "/addProducto/{{id}}?comprado=&cantidad=" + numSpan.textContent;
            location.href=pag;
        });
    </script>
</body>
</html>