<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión y registro</title>
</head>
<body style="background-color:rgb(39, 69, 42); text-align: center; color: white">
<h1>&iexcl;&Uacute;nete a la gran familia de SuperMerCasa!</h1>
<hr/>
<h1>Inicia sesi&oacute;n</h1>
<form action="">
    <p>
      <label for="username">Nombre de usuario:</label> <input id="username" name="username" type="text"/>
        <br/><br/>
      <label for="password">Contrase&ntilde;a:</label> <input id="password" name="password" type="password"/>

      <br/><br/>
      <input type="submit" value="Iniciar sesi&oacute;n"/>
    </p>

    <h1>&nbsp;</h1>
</form>
<h1>Registrate&nbsp;</h1>
<form action="registroLogin">
    <p>
        <label for="username">Nombre de usuario:</label> <input id="registername" name="registername" type="text"/>
        <br/><br/><label for="email">Correo electr&oacute;nico:</label> <input id="email" name="email" type="text"/>
        <br/><br/><label for="password">Contrase&ntilde;a:</label> <input id="registerpassword" name="registerpassword" type="password"/>
        <br/><br/><label for="direction">Dirección:</label> <input id="direction" name="direction" type="text"/> <br/><br/>
        <input type="submit" value="Registrarse"/>
    </p>
</form>
<h2>{{mensaje}}</h2>
<p>
    <button name="home"><a href="/">Inicio</a></button>
</p>
</body>
</html>