<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Inicio de sesión y registro</title>
</head>
<body style="background-color:rgb(39, 69, 42); text-align: center; color: white">
  <h1 style="text-align: center;">&iexcl;&Uacute;nete a la gran familia de SuperMerCasa!</h1>
  <hr />
  <h1 style="text-align: center;">Inicia sesi&oacute;n</h1>
  <form action="">
    <p style="text-align: center;"><label for="username">Nombre de usuario:</label> <input id="username" name="username" type="text" /> <br /><br /><label for="password">Contrase&ntilde;a:</label> <input id="password" name="password" type="password" /> <br /><br /><input type="submit" value="Iniciar sesi&oacute;n" /></p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;">&nbsp;</h1>
  </form>
  <h1 style="text-align: center;">Registrate&nbsp;</h1>
  <form action="">
    <p style="text-align: center;"><label for="username">Nombre de usuario:</label> <input id="username" name="username" type="text" /> <br /><br /><label for="email">Correo electr&oacute;nico:</label> <input id="email" name="email" type="email" /> <br /><br /><label for="password">Contrase&ntilde;a:</label> <input id="password" name="password" type="password" /> <br /><br /><input type="submit" value="Registrarse" /></p>
  </form>
  <p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>
</body>
</html>