<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de pedido</title>
</head>
<body style="background-color:rgb(39, 69, 42);text-align: center; color: white">
  <h1 style="text-align: center;"><strong>Seguimiento del pedido: (PEDIDO)</strong></h1>
  <hr />
  <h3 style="text-align: center;">Empresa de env&iacute;o: (EMPRESA)</h3>
  <h3 style="text-align: center;"><span style="text-decoration: underline;"><strong>ESTADO DEL ENV&Iacute;O</strong></span></h3>
  <p style="text-align: center;"><strong>Recibido ---&gt; Procesado ---&gt; </strong><span style="text-decoration: line-through;">En reparto ---&gt; Completado</span></p>
  <p style="text-align: center;">&iquest;MAPA?</p>
  <p style="text-align: center;">Fecha prevista de entrega: (FECHA)</p>
  <p style="text-align: center;"><button name="home"><a href="/">Inicio</a></button></p>
</body>
</html>